<%= form_with url: add_course_path do |f| %>
  <div class="text-center p-1">
    <%= f.hidden_field :date_spot_id, :value => date_spot.id %>
    <%= f.submit "デートコースに追加する", class: "btn btn-salmon w-60 m-2", id: "add_date_course_date_spot_id_#{date_spot.id}" %>
  </div>
<% end %>