services:
  db:
    # M3チップに対応するために導入
    platform: linux/x86_64
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # コンテナ側:ホスト側
  react:
    build:
      context: ./submodules/frontend/react
      dockerfile: Dockerfile.develop
    command: sh -c "yarn start"
    environment:
      NODE_ENV: development
      REACT_APP_API_BASE: http://localhost:7777
    volumes:
      - ./submodules/frontend/react:/usr/src/datecourses
    ports:
      - "3000:3000"
  backend_rails:
    build:
      context: ./submodules/backend/rails
      dockerfile: Dockerfile.develop
    environment:
      FRONTEND_DOMAIN: http://localhost:3000
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 7777 -b '0.0.0.0'"
    volumes:
      - ./submodules/rails:/date-course-api:cached # カレントディレクトリを/date-course-apiにバインドマウントしている
    ports:
      - 7777:7777
    depends_on:
      - db
    tty: true
    stdin_open: true
  # いったんe2eコンテナはコメントアウトする
  # e2e:
  #   image: cypress
  #   build: ./e2e
  #   container_name: cypress
  #   depends_on:
  #     - react
  #   environment:
  #     - CYPRESS_baseUrl=http://react:3000
  #   # command: npx cypress open
  #   volumes:
  #     - ./e2e/cypress:/app/cypress
  #     - ./e2e/cypress.json:/app/cypress.json
volumes:
  pg-data:
