services:
  db:
    # M3チップに対応するために導入
    platform: linux/x86_64
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # コンテナ側:ホスト側
  react:
    build:
      context: ${REACT_FRONTEND_PATH}
      dockerfile: Dockerfile.develop
    command: sh -c "yarn start"
    environment:
      NODE_ENV: development
      REACT_APP_API_BASE: ${RAILS_API_DOMAIN}
    volumes:
        - ./${REACT_FRONTEND_PATH}:/usr/src/datecourses
    ports:
      - "${REACT_FRONTEND_PORT}:3000"
  backend_rails:
    build:
      context: ${RAILS_API_PATH}
      dockerfile: Dockerfile.develop
    environment:
      REACT_FRONTEND_DOMAIN: ${REACT_FRONTEND_DOMAIN}
      GOOGLE_MAP_API_KEY: ${GOOGLE_MAP_API_KEY}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 7777 -b '0.0.0.0'"
    volumes:
        - ./${RAILS_API_PATH}:/date-course-api:cached # カレントディレクトリを/date-course-apiにバインドマウントしている
    ports:
      - "${RAILS_API_PORT}:7777"
    depends_on:
      - db
    tty: true
    stdin_open: true
  # いったんe2eコンテナはコメントアウトする
  # e2e:
  #   image: cypress
  #   build: ./e2e
  #   container_name: cypress
  #   depends_on:
  #     - react
  #   environment:
  #     - CYPRESS_baseUrl=http://react:3000
  #   # command: npx cypress open
  #   volumes:
  #     - ./e2e/cypress:/app/cypress
  #     - ./e2e/cypress.json:/app/cypress.json
volumes:
  pg-data:
