<div class="max-w-2xl mx-auto mt-10 bg-white p-5 border-gray-900">
  <h1 class="text-center text-lg m-5">
    デートスポットレビュー新規登録
  </h1>
  <%= render 'date_spot_review_form', {date_spot_review: @date_spot_review, user: current_user, btn_name: "投稿する"}%>
</div>
