<div class="m-5 mt-10 border border-black flex">
  <div class="w-3/12 border border-black">
    <%= render "layouts/date_spot_name_search", { title_target: "デートスポットを名前で検索", search_target: @date_spot_search_params } %>
    <%= render "layouts/user_name_search", { title_target: "ユーザーを名前で検索", search_target: @user_search_params } %>
  </div>
  <div class="w-9/12">
    <div class="mr-5 ml-5 mb-5 bg-white">
      <h1>ユーザー一覧</h1>
    </div>
    <div class="flex flex-wrap">
      <% @users.each do |user| %>
        <%= render "users/user_profile", user: user %>
      <% end %>
    </div>
  </div>
</div>
