<div class="m-5 mt-10 flex">
  <div class="md:w-3/12 md:inline hidden">
    <%= render "layouts/date_spot_name_search" %>
    <%= render "layouts/user_name_search" %>
  </div>
  <div class="md:w-9/12 bg-white w-full">
    <div class="mr-5 ml-5 mb-5">
      <h1>ユーザー一覧</h1>
    </div>
    <% if @users == []%>
      <div class="text-red-900">
        ⚠︎検索結果はありませんでした。
      </div>
    <% else %>
      <div class="flex flex-wrap">
        <% @users.each do |user| %>
          <%= render "users/user_profile", user: user %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
