<% if target.errors.any? %>
  <div id ="error_explanation">
    <div class="alert alert-danger">
      <!--　これにより、"1 errors" のような英語の文法に合わない文字列を避けることができる -->
      The form contains <%= pluralize(target.errors.count, "error") %>.
    </div>
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>