<div class="m-5">
  <% if date_spot.opening_time || date_spot.closing_time %>
    営業時間
    <%= date_spot.opening_time.strftime('%H:%M') %> 
    ~ 
    <%= date_spot.closing_time.strftime('%H:%M') %>
  <% end %>
</div>