<div class="flex m-5 p-5 border border-gray-400">
  <%= search_form_for @date_spot_search_params, as: :date_spot_search  do |f| %>
    <%= f.grouped_collection_select(:address_prefecture_id_eq, Area.all, :prefectures, :name, :id, :name, prompt: "都道府県を選択してください") %>
    <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, prompt: "ジャンルを選択してください" %>
    <%= f.submit '検索', class: "btn btn-salmon my-2" %>
  <% end %>
</div>