<div class="m-10 mt-10 bg-white p-5 border-gray-900 flex">
  <div class="w-6/12">
    <h1 class="text-center text-lg m-5 mb-5">デートスポット編集ページ</h1>
    <%= render 'date_spot_form', {date_spot: @date_spot, btn_name: "更新"} %>
  </div>
  <div class="w-5/12">
    <%= render 'layouts/image', {target_image: @date_spot, width: 400, height: 400}%><br/>
    <%= link_to "このデートスポットを削除する", date_spot_path(@date_spot), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-red" %>
  </div>
</div>
