<div class="m-5 mt-10 flex">
  <div class="md:w-3/12 md:inline hidden">
    <%= render "layouts/date_spot_name_search" %>
    <%= render "layouts/user_name_search" %>
  </div>
  <div class="md:w-9/12 w-full">
    <div class="p-5 bg-white">
      <h1 class="text-3xl pb-5">デートスポット一覧</h1>
      <div class="w-full h-52 bg-gray-700">
        <div class="text-center">デートスポットレビューランキング</div>
      </div>
    </div>
    <div class="bg-gray-200 pb-5">
      <%= render "date_spots/date_spot_sort_bar" %>
      <% if @date_spots == []%>
        <p class="text-red-900 text-center m-10 text-3xl" id="search_no_result">
          ⚠︎検索結果はありませんでした。
        </p>
      <% else %>
        <% @date_spots.each do |date_spot| %>
          <%= render "date_spots/date_spot_profile", date_spot: date_spot %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
