<div class="m-5 mt-10 border border-black flex">
  <div class="w-3/12 border border-black">
    <%= render "layouts/name_search", { title_target: "デートスポットを名前で検索", search_target: @date_spot_search_params } %>
    <%= render "layouts/name_search", { title_target: "ユーザーを名前で検索", search_target: @user_search_params, as: :p } %>
  </div>
  <div class="w-9/12">
    <div class="mr-5 ml-5 mb-5 bg-white">
      <h1>デートスポット一覧</h1>
      <div class="w-full h-52 bg-gray-700">
        <div class="text-center">デートスポットレビューランキング</div>
      </div>
    </div>
    <% @date_spots.each do |date_spot| %>
      <%= render "date_spots/date_spot_profile", date_spot: date_spot %>
    <% end %>
  </div>
</div>
