<div class="bg-white">
<% if courses == [] %>
  <p class="text-blue-600 text-center m-10 text-3xl">
    <%= message %>
  </p>
<% else %>
  <% courses.each do |course| %>
    <%= render "courses/course_profile", course: course %>
  <% end %>
<% end %>
</div>