<div class="m-5 mt-10 flex">
  <div class="md:w-3/12 md:inline hidden">
    <%= render "layouts/date_spot_name_search" %>
    <%= render "layouts/user_name_search" %>
  </div>
  <div class="md:w-9/12 bg-white w-full">
    <%= render "courses/courses", {courses_title: "デートコース一覧ページ", courses: @courses} %>
  </div>
</div>