<div class="m-5 mt-10 flex">
  <div class="md:w-3/12 md:inline hidden">
    <%= render "layouts/date_spot_name_search" %>
    <%= render "layouts/user_name_search" %>
  </div>
  <div class="md:w-9/12 bg-white w-full">
    <h1 class="font-bold text-3xl">デートコース一覧ページ</h1>
    <% @courses.each do |course| %>
      <%= render "courses/course_profile", course: course %>
    <% end %>
  </div>
</div>