// @import "bootstrap-sprockets";
// @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #F5F5F5;
}
ul {
  list-style: none;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* errorメッセージのスタイル */
#error_explanation {
  color: red;
  ul{
    color:red;
    margin: 0 0 30px 0;
  }
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* buttonのスタイル */

.normal-btn {
  background-color: #FA8072;
  border: #FA8072;
  border-radius: 3px;
  padding: 3px;
  color: white;
  &:hover {
    color: #FA8072;
    cursor: pointer;
  }
}

.guest-login-btn {
  background-color: #00ccff;
  border: #00ccff;
  border-radius: 3px;
  padding: 3px;
  color: white;
  &:hover {
    color: #00ccff;
    cursor: pointer;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}