name: ci-workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
jobs:
  backend_rails_test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: password
        ports:
          - "5432:5432" # コンテナ側:ホスト側    container:
    container:
      image: ruby:3.3.0
    steps:
      - uses: actions/checkout@v2
      - name: setup
        run: |
          cd backend_rails
          gem install bundler
          bundle install
      - name: setup migrate
        run: |
          cd backend_rails
          rails db:create
          rails db:migrate
      - name: run standardrb
        run: |
          cd backend_rails
          standardrb
      - name: run rspec
        run: |
          cd backend_rails
          rspec
  # e2e_test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: setup Frontend App
  #       run: |
  #         cd frontend
  #         yarn
  #         yarn build
  #         yarn start &
  #     - uses: cypress-io/github-action@v2
  #       with:
  #         wait-on: "http://localhost:3000"
  #         # Cypress を ./e2e/ に配置しているため、working-directoryを指定する
  #         # デフォルトはルートディレクトリ
  #         working-directory: e2e
