<div class ="bg-white w-72 inline-block p-2 m-2">
  <p>デートスポットランキング</p>
  <ul>
    <li class="my-5">
      <p>第1位 4.5 #######</p>
      <div class="flex">
      <span class="w-10 h-10 border border-black">
        画像
      </span>
      <span class="pl-2">
        キャナル<br/>
        福岡県
      <span>
    </li>
    <li class="my-5">
      <p>第1位 4.5 #######</p>
      <div class="flex">
      <span class="w-10 h-10 border border-black">
        画像
      </span>
      <span class="pl-2">
        キャナル<br/>
        福岡県
      <span>
    </li>
    <li class="my-5">
      <p>第1位 4.5 #######</p>
      <div class="flex">
      <span class="w-10 h-10 border border-black">
        画像
      </span>
      <span class="pl-2">
        キャナル<br/>
        福岡県
      <span>
    </li>
  </ul>
</div>