<div class ="bg-white inline-block shadow-xl p-5 mb-5 w-11/12">
  <%= search_form_for @date_spot_search_params, as: :date_spot_search do |f| %>
    <%= f.label :name, "デートスポット" %>
    <%= f.search_field :name_cont, class: "my-5 w-full border-b-2 outline-none", placeholder: "名前で検索" %> <!-- name_contはnameカラムの単語の一部分を含むものを検索するという意味になります。 -->
    <div class="text-center">
      <%= f.submit "検索", class: "btn btn-salmon my-2", id:"date_spot_name_search" %>
    </div>
  <% end %>
</div>