<div class ="bg-white w-72 inline-block p-2 m-2">
  <p><%= title_target %></p>
  <input type="text" name="date_spot"class="border boreder-black m-2"><br/>
  <button class="btn btn-salmon my-2">
    検索
  </button>
</div>